<% include ../shared/header %>
<div class="row">
    <h1><%= title %></h1>
</div>
<div class="row">
    <p>Please select the question you would like to be deleted:</p>
    <table class="striped rounded">
        <thead>
            <tr>
                <th>Question</th>
            </tr>
        </thead>
        <tbody>
        <% for(var i = 0; i < questions.length; i++) { %>
            <tr>
            <td>
            <form action="./<%= questions[i].id %>" method="post">
                <input type="hidden" value="delete" name="_method" />
                <div class="field">
                    <label class="checkbox" for="delete_target">
                        <input type="checkbox" name="delete_target" value="true">
                        <span></span><%= questions[i].title %> (<%= questions[i].id %>)
                    </label>
                </div>
                <div class="field">
                    <div class="medium default btn"><input type="submit" value="Delete"></div>
                </div>
            </form>
            </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<% include ../shared/footer %>
