<% include ../shared/header %>
<div class="row">
    <h1>Add Question:</h1>
    <form method="post" action="/questions/create" enctype="application/x-www-form-urlencoded">
        <div class="field">
            <input class="input" type="text" name="title" id="title" placeholder="Question title" required="required" />
        </div>
        <div class="field">
            <textarea class="input textarea" name="questionBody" id="questionBody" placeholder="Question body"></textarea>
        </div>
        <div class="field">
            <input class="input" type="text" name="tags" id="tags" required="required" placeholder="Tags" />
        </div>
        <div class="field">
            <div class="medium metro rounded info btn">
                <input type="submit" name="submit" id="submit" value="Submit"/> 
            </div>
            <div class="medium metro rounded info btn">
                <input type="reset" name="reset" id="reset" value="Reset"/>
            </div>
        </div>
    </form>
</div>
<% include ../shared/footer %>