<% include shared/header %>
<div class="row">
    <div class="twelve columns">
        <h1>Welcome to <%= title %></h1>
    </div>
</div>
<div class="row">
    <div class="three columns">
        <ul>
            <li><a href="/questions/list">List questions</a></li>
            <li><a href="/questions/new">Add a question</a></li>
            <li><a href="/questions/delete">Delete a question</a></li>
            <li><a href="#">Login/Sign up</a></li>
        </ul>
    </div>
    <div class="nine columns">
        <p>We will display a list of latest questions here.</p>
    </div>
</div>
<% include shared/footer %>
